<nav class="col-1" style="margin-right: 100px;">
  <a href="/"><i class="fas fa-home" style="margin-bottom: 20px;"></i>  <p style="font-size:medium;">  Home</p></a>
  <a href="/profile"><i class="far fa-user" style="margin-bottom: 20px;"></i><p <p style="font-size:medium;">  Profile</p></a>
  <a href="/logout"><i class="fas fa-sign-out-alt"></i><p style="font-size:medium;">  Logout</p></a>
</nav>
